# تجاهل مجلدات الإخراج والملفات المترجمة
bin/
obj/

# تجاهل ملفات التكوين المحلية لبرنامج Visual Studio
.vs/
.vscode/

# تجاهل ملفات التكوين الخاصة بالمستخدم
*.user
*.suo

# تجاهل ملفات التبعيات المؤقتة
*.cache
*.log

# تجاهل ملفات الترجمة والتصحيح
*.exe
*.dll
*.pdb

# تجاهل ملفات النظام غير الضرورية
Thumbs.db
.DS_Store
